
{% extends 'base.html' %}
{% block content %}
   
<section id="main-content">
  <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> DEVICE'S ASSOCIATION </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> ASSOCIATION </h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>Owner</th>
                    <th>Hostname</th>
                  </tr>
                </thead>
                <tbody>
                {% for device in device %}
                  <tr>
                    <td>{{device.owner}}</td>
                    <td>{{device.hostname}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </section>

{% endblock %}
