{% extends 'base.html' %}
{% load static %}


{% block content %}

  <section id="container">
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> DEVICES </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> DEVICES INFORMATIONS</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>IP Address</th>
                    <th>Mac Address </th>
                    <th>Hostname</th>
                    <th>Operating System</th>
                  </tr>
                </thead>
                <tbody>
                {% for computer in computers %}
                  <tr>
                    <td>{{computer.id}}</td>
                    <td>{{computer.ip_address}}</td>
                    <td>{{computer.mac_address}}</td>
                    <td>{{computer.hostname}}</td>
                    <td>{{computer.os}}</td>
                    <td>
                      <a href="{% url 'associate' computer.id %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                      <a href="{% url 'analyse' computer.id %}" class="btn btn-success btn-xs">scan device</a>
                      <a href="{%url 'malware' computer.id %}" class="btn btn-danger btn-xs">malware detect</a>
                      <a href="{% url 'traffic' computer.id %}" class="btn btn-warning btn-xs">check traffic</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>

{% endblock %}
