
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section id="main-content">
    <section class="wrapper">
        <h3>
            <i class="fa fa-angle-right"></i> EDIT INFORMATIONS
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> EDIT
                    </h4>
                    <hr>
                    <div class="container" id="id01">
                        <div class="col-md-10 offset-md-1 mt-5">
                            <div class="jumbotron">
                                <form action=""
                                      method="POST"
                                      enctype='multipart/form-data'
                                      autocomplete='off'>
                                    {% csrf_token %}
                                    {{ form.owner | as_crispy_field }}
                                    {{ form.ip_address | as_crispy_field }}
                                    {{ form.hostname | as_crispy_field }}
                                    <div class="row">
                                        <div class="div col-md-4">
                                            <button type="submit" class="btn btn-success btn-block btn-lg">
                                                <i class='fas fa-database'></i> Submit
                                            </button>
                                        </div>
                                        <div class="div col-md-4">
                                            <a href="{% url 'device' %}" class="btn btn-primary btn-block btn-lg">Go back</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if messages %}
                                <div class="alert alert-success" style="margin-top:15px;">
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}