{% extends 'base.html' %}

{% block content %}
<section id="container">
    <section id="main-content">
        <div class="container">
            <div class="col-md-10 offset-md-1 mt-5"
                 style="margin-top:80px;
                        margin-left:50px;">{{ m | safe }}</div>
        </div>
        <div class="container" style="margin-top:5px;">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <li class="alert alert-danger" style="margin-left:150px;">{{  message }}</li>
                        {% else %}
                            <li style="margin-left:150px;"
                                class="alert alert-success"
                                {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
</section>

{% endblock %}