{% extends 'base.html' %}
{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-8 " style="margin-top:3%;">
                        <div class="border-head">
                            <h3>SCAN YOUR PERSONNAL OR NETWORK ENTREPRISE...</h3>
                        </div>
                        <div class="row">
                            <div style="margin-left:5px">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="from-group">
                                        <label for="ip">network IP</label>
                                        <input class="form-control"
                                               type="text"
                                               name="ip"
                                               placeholder="enter ip/mac address">
                                        <br>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="scan">
                                </form>
                            </div>
                            <div>
                                <div class="col-lg-3">
                                    <a href="{% url 'fast_scan' %}"
                                       style="margin-top:-50px;
                                              margin-left:160px;"
                                       class="btn btn-success">Rapid scan</a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="{% url 'by_ip' %}" style="margin-left:120px; margin-top:-50px;">
                                        <button class="btn btn-success">check host by ip</button>
                                    </a>
                                </div>
                                {% comment %} <div class="col-lg-3">
                  <a href="{%url 'by_mac' %}" style="margin-left:40px; margin-top:-50px;">
                    <button class="btn btn-success">check host by mac</button>
                  </a>
                </div> 
                                {% endcomment %}
                                <div class ="container">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Ip</th>
                                                <th>host</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ ip }}</td>
                                                <td>{{ hostnames }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="container-fluid" style="margin-top:5px;">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                    <li class="alert alert-danger">{{  message }}</li>
                                                {% else %}
                                                    <li class="alert alert-success"
                                                        {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    {% endblock %}
