{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section id="container">
        <section id="main-content">
            <section class="wrapper">
                <h3>
                    <i class="fa fa-angle-right"></i> USERS
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-panel">
                            <h4>
                                <i class="fa fa-angle-right"></i> USERS INFORMATIONS
                            </h4>
                            <hr>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Department</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in  users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.department }}</td>
                                            <td>
                                                <a href="{% url 'create_user' %}" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                                                <a href="{% url 'update_user' user.id %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                                <form style="margin-left:52px;
                                                             margin-top:-21px;"
                                                      action="{% url 'delete_user' user.id %}"
                                                      method='post'
                                                      class='d-inline'>
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
